@using Core.Entidades
@model Estatus

<div>
    <form asp-action="Delete">
        <input type="text" asp-for="Id">
        <div class="form-group">
            <label asp-for="Nombre" class="control-label"></label>
            <input type="text" asp-for="Nombre" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Descripcion" class="control-label"></label>
            <input type="text" asp-for="Descripcion" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="FechadeAlta" class="control-label"></label>
            <input readonly type="text" asp-for="FechadeAlta" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Delete" class="btn btn-primary">
        </div>
    </form>
</div>